@using BeauposHistory.Shared.Components.Modals

<h3>Collection: @GetViewTitle()</h3>

<div class="collection-container">
    <div class="header" style="color: var(--brown); margin-bottom: 15px; font-weight: bold;">
        Total - @GetFilteredTotal()
    </div>
    <div class="collection-list">

        @foreach (var record in GetMockRecords())
        {
            <div class="collection-card" @onclick="OpenReceipt">
                <div class="card-main">
                    <div class="section-left">
                        <span class="text-bold">📄 @record.Id</span>
                        <span class="text-muted">@record.Time</span>
                    </div>
                    <div class="section-middle">
                        <span class="text-bold">WK</span>
                        <span class="text-bold text-muted">•••••••3528</span>
                    </div>
                    <div class="section-right">
                        <span class="text-bold">@record.Amount</span>
                        <span class="text-muted">1 Items</span>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="badge-custom">@GetBadgePrefix() : @record.Amount</span>
                </div>
            </div>
        }
    </div>
</div>

<HistoryDetailsModal Visible="@ShowReceiptModal"
                     OnClose="@CloseReceipt" />

